body{
background-image: url(bg.jpg)
}

div{
  text-align: center;
  text-indent: 30px;
  color: white; 
}
h1{
  text-align: center;
  border: 2px solid white;

  padding: 40px;
  color: white;
}

a {
  color: white;
}